[submodule "test/assets"]
	path = https://github.com/maonx/vimwiki-assets.git
	url = https://github.com/maonx/vimwiki-assets.git
[submodule "test/lodash"]
	path = test/lodash
	url = test/lodash
[submodule "test/lodash"]
	path = test/lodash
	url = https://***/upming/browserconsole-api.git
	name = merge-test
