[submodule "test/assets"]
	path = test/assets
	url = https://github.com/maonx/vimwiki-assets.git
[submodule "test/lodash"]
	path = test/lodash
	url = https://***/upming/browserconsole-api.git
[submodule "test/lodash"]
	path = test/lodash
	url = https://***/upming/browserconsole-api.git
	name = mian
