

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Microsoft YaHei Semilight"; 

    --yelow-color: #ffb400;
    --blue-color: #f2f4f8;
    --title-size: 19px;
    --box-show: 0px 4px 8.9919px 0.0081px rgba(0, 9, 55, 0.07);
    --version-color: #0032b4;
    --version-border-color: #0030ae;
    --table-box-shdow: 0px 0px 5px 5px rgba(0, 9, 55, 0.07);
    min-width: 1200px;
}

#top-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;    
    height: 80px;
    background-color: white;
    z-index: 100;
    display: none;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19);
}  

#header {
   padding-top: 10px;
   height: 484px;
   background-color: var(--blue-color);
}

#mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url('./icons/tiger.png');
    background-size: 565px;
    background-repeat: no-repeat;
    background-position-x: 250px;
}

#header-title{
    padding-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-titel-l{
   font-size: 44px;
   margin-right: 18px;
}

.header-titel-box{
    height: 56px;
    border: 3px solid var(--yelow-color);
    display: flex;
}

.header-titel-pro{
    display: inline-block;
    height: 100%;
    line-height: 58px;
    padding: 0 16px;
    font-size: 40px;
    color: var(--yelow-color);
}

.header-titel-question{
    display: inline-block;
    font-size: 14px;
    text-align: left;
    background-color: var(--yelow-color);
    padding: 6px 16px;
}

.header-titel-ques-b{
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
}

#header-desc{
    text-align: center;
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 28px;
}

#header-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.header-box{
    width: 176px;
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: var(--box-show);
    margin: 0 12px;
}

.header-box-text{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 40px;
}

.bg-image{
    background-size: 38px 38px;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#content{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 38px 0;
}

.content-text{
    text-align: center;
}

.content-title{
    position: relative;
    font-size: 22px;
    font-weight: bold;
}

.content-title::after{
   content: '';
   display: inline-block;
   height: 3px;
   width: 132px;
   background-color: var(--yelow-color);
   position: absolute;
   left: 0;
   bottom: -3px;
}


#verCompareTable {
  margin-top: 60px;
  box-shadow: var(--table-box-shdow);
  border: 1px solid var(--version-border-color);
  border-collapse: collapse;
}

#verCompareTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 18px;
  /* font-weight: bold; */
}

#verCompareTable td {
    border: 1px solid var(--version-border-color);
}

.funcs-special-cls{
    position: relative;
    padding: 0 42px;
    width: 380px;
    
}

.show-star-icon-cls{
    position: absolute;
    left: 19px;
    top: 16px;
}

.has-func-cls{
    padding: 12px 0;
    width: 160px;
    text-align: center;
   
}
.not-has-func-cls{
    padding: 12px 0;
    width: 160px;
    text-align: center;
}

.border-special-cls{
    border-left: 2px solid var(--version-border-color) !important;
    border-right: 2px solid var(--version-border-color) !important;
    position: relative;
}
.border-special-cls::after{
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 0px;
    height: 38px;
    box-shadow: var(--table-box-shdow);
}

.border-special-cls::before{
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 0px;
    height: 38px;
    box-shadow: var(--table-box-shdow);
}

.border-special-cls .has-func-cls{
    width: 212px;
}


#verCompareTable tr:last-child td:nth-child(2) {
    position: relative;
}

#verCompareTable tr:last-child td:nth-child(2) div:first-child {
    position: absolute;
    width: 100%;
    top: 0;
    padding-bottom: 23px;
    background: white;
    left: -2px;
    border-left: 2px solid var(--version-border-color);
    border-right: 2px solid var(--version-border-color);
    border-bottom: 2px solid var(--version-border-color);
    box-shadow: 0px 10px 10px -5px rgba(0, 9, 55, 0.07);
}

#verCompareTable th:nth-child(2) {
    /* background-color: var(--version-color);
    color: white; */
    position: relative;
}

.pro-version-special{
    display: inline-block;
    position: absolute;
    width: calc(100% - 2px);
    left: -1px;
    height: 49px;
    bottom: 0;
    background: var(--version-color);
    padding-top: 13px;
    text-align: -webkit-match-parent;
    color: white;
    line-height: 49px;
    border: 2px solid var(--version-border-color);
    box-shadow: var(--table-box-shdow);
}

.table-img{
    width: 16;
    height: 12;
}

.rowSpan-class{
    font-size: var(--title-size);
    font-weight: bold;
    text-align: center;
    width: 130px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    height: 160px;
    text-align: center;
}

.footer-img{
    display: inline-block;
    height: 80px;
    width: 214px;
    background-image: url(./icons/logo.png);
    background-size: 214px 80px;
    background-repeat: no-repeat;
    
}


#tooltip-box{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #b8b8b8 ;
    background-color: var(--blue-color);
    position: absolute;
    font-size: 14px;
    color: #566276;
    transform: translate(14px, -4px);
    display: none;
}

.tooltip {
    display: inline-block;
    cursor: pointer;
}
